<div class="pa4 pv2 ph3 dib">
  <a class="f4 fw7 dib pa3 no-underline bg-animate bg-white hover-bg-orange black br2 hover-white tracked" href="/">Home</a>
</div>
<ul class="list pl0">
   <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">
      Is this affliated with Uber?
    </b>
    <span class="f5 db lh-copy measure">
      No, not at all! This was just made for fun by an independent developer.
    </span>
  </li>
  <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">What is this?</b>
    <span class="f5 db lh-copy measure">
      It's a tool that uses the gmail API to tally up the cost of your Uber Receipts, and tells you how much you've spent.
    </span>
  </li>
  <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">
      Why do you need access to my emails? Why not use the Uber API?
    </b>
    <span class="f5 db lh-copy measure">
      The Uber API restricts access to receipt information.  Only apps that handle making Uber orders are given access to receipts.
    </span>
  </li>
  <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">
      Does this work if I deleted my emails from Uber?
    </b>
    <span class="f5 db lh-copy measure">
      Probably not 🙁  I'm not 100% sure though, so let me know!
    </span>
  </li>
  <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">
      Not in the US?
    </b>
    <span class="f5 db lh-copy measure">
      For this initial release, this app is specifically looking for emails from uber.us@uber.com and US currency.  It might work if you're outside the US, but it might not.
      I plan on making this work globally soon.
    </span>
  </li>
  <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">
      Who are you?
    </b>
    <span class="f5 db lh-copy measure">
      I'm <a href='https://twitter.com/jekrb'>@jekrb on Twitter</a>
    </span>
  </li>
  <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">
      This thing doesn't work.
    </b>
    <span class="f5 db lh-copy measure">
      I've spent about two nights working on it.  Please <a href='https://twitter.com/jekrb'>tweet at me</a> about any bugs you find :)
    </span>
  </li>
  <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">
      Plans for the future?
    </b>
    <span class="f5 db lh-copy measure">
      I have some ideas for features and improvments, <a href='https://twitter.com/jekrb'>contact me</a> if you like this so I stay motivated to work on it.
    </span>
  </li>
</ul>
<div class="pa4 pv2 ph3 dib">
  <a class="f4 fw7 dib pa3 no-underline bg-animate bg-white hover-bg-orange black br2 hover-white tracked" href="/">Home</a>
</div>