<article class="mw7 center ph3 ph5-ns tc br2 pv5 mb5">
  <h1 class="fw6 f3 f2-ns lh-title mt0 mb3">
    Check how much you've spent on Uber 🚘
  </h1>
  <h2 class="fw2 f4 lh-copy mt0 mb3">
    If you used gmail to sign up for Uber, this will tell you how much money you've spent 💰
  </h2>
  <p class="fw1 f5 mt0 mb3">
    Authenticate with Google to find out. Or Learn More.
  </p>
  <div>
    <a class="f6 no-underline grow pv2 ph3 dib mr3"
      href="/googleauth">
      <img src='https://developers.google.com/accounts/images/sign-in-with-google.png' alt="Sign-in With Google">
    </a>
    <div class="pa4 pv2 ph3 dib">
      <a class="f4 fw7 dib pa3 no-underline bg-animate bg-white hover-bg-orange black br2 hover-white tracked" href="/about">Learn More</a>
    </div>
  </div>
</article>
