<main>
  <nav class="pa3 pa4-ns">
    <span class="black b f6 f5-ns dib mr3">Hello {{name}}</span>
    <a class="link dim orange    f6 f5-ns dib mr3" href="/logout">logout</a>
  </nav>
  <section class="ph3 ph5-ns pv5">
    <article class="mw8 center br2 ba">
      <div class="dt-ns dt--fixed-ns w-100">
        <div class="pa3 pa4-ns dtc-ns v-mid">
          <div>
            <h2 class="fw4 black-70 mt0 mb3">Check how much you've spent on Uber</h2>
            <p class="black-70 measure lh-copy mv0">
              Click the button. The calculations might take a minute.
            </p>
          </div>
        </div>
        <div class="pa3 pa4-ns dtc-ns v-mid">
          <a href="/total" class="no-underline f6 tc db w-100 pv3 bg-animate bg-orange hover-bg-dark-oragnge white tracked br2">Click here to get the total</a>
        </div>
      </div>
    </article>
  </section>
</main>