<nav class="pa3 pa4-ns">
  <span class="dim black b f6 f5-ns dib mr3">Hello {{name}}</span>
  <a class="link dim orange    f6 f5-ns dib mr3" href="/logout">logout</a>
</nav>
<main class="ph3 ph4-ns pv6 bt b--black-10 black-70">
  <p class="measure lh-copy">
    According to the Uber Receipts you have in gmail, this is how much you've spent on Uber:
  </p>
  <h1 class="f3 f2-m f1-l orange">
    ${{spent}}
  </h1>
  <p class="measure lh-copy">
     Not right? <span>
      <div class="pa4 pv2 ph3 dib">
        <a class="f4 fw7 dib pa3 no-underline bg-animate bg-white hover-bg-orange black br2 hover-white tracked" href="/about">FAQ</a>
      </div>
    </span> or <a href='https://twitter.com/jekrb'>ping me on twitter</a>
  </p>
</main>
